// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Manrope', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$theme-colors: (
    "primary"  : #f6b21b,
    "secondary": #f8fafc,
    "success"  : #28a745,
    "info"     : #17a2b8,
    "warning"  : #ffc107,
    "danger"   : #dc3545,
    "light"    : #f8fafc,
    "dark"     : #343a40
);
